.head{
    font-size: 100%;
    font: inherit;
    box-sizing: inherit;
}
body{
    color: #787878;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 400;
    line-height: 1.75em;
    font-size: 12pt;
}

img {
    max-width: 100%;
}

#header {
    
    padding: 36px 24px;
    text-align: center;
    background-image: url(../img/bg.jpg);
}
#header strong, #header b {
    color: #ffffff;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

#main {
    padding: 36px 24px 4px;
}

.avatar img {
    border-radius: 50%;
}

.major{
    background-color:white;
}
.row{
    background-color: white;
}

.action{
    background-color: white;
}

input[type="submit"],input[type="reset"],input[type="button"],.button {
    background-color: transparent;
    color: #787878 ;
    display: inline-flex;
    font-weight: 400;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: flex;
}
@media screen and (min-width: 740px){}
.row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 480px){}
ul.actions:not(.fixed) li input[type="submit"], 
ul.actions:not(.fixed) li input[type="reset"], 
ul.actions:not(.fixed) li input[type="button"], 
ul.actions:not(.fixed) li button, 
ul.actions:not(.fixed) li .button {
width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], select {
    height: 2.75em;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #f7f7f7;
    border-radius: 0.35em;
    border: solid 2px transparent;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 0.75em;
    text-decoration: none;
    width: 100%;
}
@media screen and (max-width: 1800px){}
body, input, select, textarea {
    font-size: 12pt;
}
@media screen and (min-width: 740px){}
ul.actions:not(.fixed) li input[type="submit"], 
ul.actions:not(.fixed) li input[type="reset"], 
ul.actions:not(.fixed) li input[type="button"],
ul.actions:not(.fixed) li button, 
ul.actions:not(.fixed) li .button {
width: 100%;
}
body.is-touch .image.thumb:before {
    opacity: 0.5 !important;
}

@media screen and (min-width: 480px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .button {
        display: inline-block;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    form textarea {
        grid-column: span 2;
    }
}
@media screen and (max-width: 980px){}
#footer {
    background-attachment: scroll;
    background-color: #1f1815;
    background-image: url(../img/overlay.png), url(../img/bg.jpg);
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    bottom: auto;
    left: auto;
    padding: 4em 4em 6em 4em;
    position: relative;
    text-align: center;
    width: 100%;
}